<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Web技術入門シリーズ課題</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <div>
      <% result = connection.exec("select weight, give_for from crops;") %>
      <% data = [] %>
      <% result.each do |record| %>
        <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
      <% end %>
      <form action="goya.cgi" method="POST">
        下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
        <!-- valueには、送りたいデータを代入する -->
        <!-- name="goya"を、情報の目印とする -->
        <input type="text" name="goya" value="<%= data.join(' ') %>">
        <input type="submit" name="送信" >
      </form>
    </div>
    <div>
      <% result = connection.exec("SELECT length ,weight ,quality ,give_for ,date FROM crops WHERE NOT (give_for = '自家消費');") %>
      <% data = [] %>
      <% result.each do |record| %>
        <%  data << "ゴーヤの長さ：#{record["length"]}　ゴーヤの大きさ：#{record["weight"]}　品質：#{record["quality"]}　売った相手：#{record["give_for"]}　日付：#{record["date"]}" %>
      <% end %>
      <form action="goya_kadai1.cgi" method="POST">
        下記のボタンを押すと、譲渡先が自家消費ではないもののgoyaの情報ページに飛びます<br><br>
        <!-- valueには、送りたいデータを代入する -->
        <!-- name="goya_kadai1"を、情報の目印とする -->
        <input type="hidden" name="goya_kadai1" value="<%= data.join(' ') %>">
        <input type="submit" name="送信" >
      </form>
    </div>
    <div>
      <% result = connection.exec("SELECT length ,weight ,quality ,give_for ,date FROM crops WHERE quality = false;") %>
      <% data = [] %>
      <% result.each do |record| %>
        <%  data << "ゴーヤの長さ：#{record["length"]}　ゴーヤの大きさ：#{record["weight"]}　品質：#{record["quality"]}　売った相手：#{record["give_for"]}　日付：#{record["date"]}" %>
      <% end %>
      <form action="goya_kadai2.cgi" method="POST">
        下記のボタンを押すと、品質が悪いもの（false）のgoyaの情報ページに飛びます<br><br>
        <!-- valueには、送りたいデータを代入する -->
        <!-- name="goya_kadai1"を、情報の目印とする -->
        <input type="hidden" name="goya_kadai2" value="<%= data.join(' ') %>">
        <input type="submit" name="送信" >
      </form>
    </div>
  </body>
</html>
